<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Unit Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/shila/eclipse-workspace/SeleniumAutomationFramework">
        <classes>
            <class name="SampleTest">
                <methods>
                    <include name="checkSelenoid"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>